n8n_haloflow_workflow.json
{
  "name": "HaloFlow - Webhook to Firestore",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "haloflow-wa-incoming",
        "options": {}
      },
      "id": "1",
      "name": "Webhook WAHA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "body",
              "value": "={{$json.payload.body}}"
            },
            {
              "name": "from",
              "value": "={{$json.payload.from}}"
            },
            {
              "name": "pushname",
              "value": "={{$json.payload.pushName || $json.payload.from}}"
            },
            {
              "name": "userId",
              "value": "2fTfQeeFboUdo0SRqYe5PSvb3692"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Extract Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getMany",
        "collection": "haloflow_chats",
        "filters": {
          "fields": [
            {
              "field": "customerNumber",
              "operator": "==",
              "value": "={{$node[\"Extract Info\"].json[\"from\"]}}"
            }
          ]
        }
      },
      "id": "3",
      "name": "Search Chat",
      "type": "n8n-nodes-base.googleFirestore",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "googleFirestoreApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Flowstack Firestore"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Search Chat\"].json.length}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "4",
      "name": "Chat Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "haloflow_chats",
        "documentId": "={{$node[\"Search Chat\"].json[0].id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "columns": {
            "lastMessage": "={{$node[\"Extract Info\"].json[\"body\"]}}",
            "updatedAt": "={{new Date()}}"
          }
        }
      },
      "id": "5",
      "name": "Update Chat",
      "type": "n8n-nodes-base.googleFirestore",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "googleFirestoreApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Flowstack Firestore"
        }
      }
    },
    {
      "parameters": {
        "collection": "haloflow_chats",
        "columns": {
          "mappingMode": "defineBelow",
          "columns": {
            "user_id": "={{$node[\"Extract Info\"].json[\"userId\"]}}",
            "customerNumber": "={{$node[\"Extract Info\"].json[\"from\"]}}",
            "customerName": "={{$node[\"Extract Info\"].json[\"pushname\"]}}",
            "lastMessage": "={{$node[\"Extract Info\"].json[\"body\"]}}",
            "status": "AUTO",
            "updatedAt": "={{new Date()}}"
          }
        }
      },
      "id": "6",
      "name": "Create Chat",
      "type": "n8n-nodes-base.googleFirestore",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "googleFirestoreApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Flowstack Firestore"
        }
      }
    },
    {
      "parameters": {
        "collection": "haloflow_messages",
        "columns": {
          "mappingMode": "defineBelow",
          "columns": {
            "chat_id": "={{$node[\"Chat Exists?\"].json[\"active\"] ? $node[\"Search Chat\"].json[0].id : $node[\"Create Chat\"].json.id}}",
            "role": "user",
            "content": "={{$node[\"Extract Info\"].json[\"body\"]}}",
            "type": "text",
            "createdAt": "={{new Date()}}"
          }
        }
      },
      "id": "7",
      "name": "Save Message",
      "type": "n8n-nodes-base.googleFirestore",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "googleFirestoreApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Flowstack Firestore"
        }
      }
    }
  ],
  "connections": {
    "Webhook WAHA": {
      "main": [
        [
          {
            "node": "Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Info": {
      "main": [
        [
          {
            "node": "Search Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Chat": {
      "main": [
        [
          {
            "node": "Chat Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Exists?": {
      "main": [
        [
          {
            "node": "Update Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Chat": {
      "main": [
        [
          {
            "node": "Save Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Chat": {
      "main": [
        [
          {
            "node": "Save Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
